<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FaceBark</title>
    <link rel="shortcut icon" href="http://res.freestockphotos.biz/pictures/15/15168-illustration-of-a-cartoon-dog-pv.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- //header -->
    <nav class="light-green lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">FaceBark</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="modal-trigger" href="#modal1">Add a Dog</a>
                </li>
                <li>
                    <a href="findPark.html">Find a Park</a>
                </li>
                <li>
                    <a href="/logout">Log out:{{username}}</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- main body -->

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br>
            <h1 class="header center orange-text">FaceBark</h1>
            <div class="row center">
                <h5 class="header col s12 light">Connecting Dogs with Parks, Dog-People with Dog-People</h5>
            </div>
            <img src="http://www.jokyland.com/content/pictures/608.gif" align="center" id="dogGif">

            <div class="row center">


                <button data-target="modal1" class="btn modal-trigger" href="#modal1">Add a New Dog</button>

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h3 id="modal-title">Add your Dog</h3>
                        <br>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input placeholder="What's Your Pupper's Name?" id="dog-name" type="text" class="validate">
                                        <label for="first_name">Pupper's Name</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input placeholder="Breed" id="dog-breed" type="text" class="validate">
                                        <label for="first_name">Breed</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="file-field input-field col s6">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" id="dogPic" placeholder="Upload a Pupper Pic">
                                        </div>
                                    </div>
                                    <div class="input-field col s6">
                                        <select id="gender">
                                            <option value="" disabled selected>Choose a Gender</option>
                                            <option value="0">Male</option>
                                            <option value="1">Female</option>
                                        </select>
                                        <label>Select Gender</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <form class="col s12" action="#">
                                <label class="col s3">
                                    <input type="checkbox" id="kids" />
                                    <span>Good with Kids?</span>
                                </label>

                                <label class="col s3">
                                    <input type="checkbox" id="otherDogs" />
                                    <span>Good with Other Dogs?</span>
                                </label>
                                <div class="input-field col s6">
                                    <input placeholder="Who Owns this Pupper?" id="owner-name" type="text" class="validate">
                                    <label for="last_name">Owner's Name</label>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <form class="col s12" action="#">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <textarea id="textarea2" class="materialize-textarea" id="dogComment" data-length="120"></textarea>
                                        <label for="textarea2">Tell Us About Your Pupper!</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="submit">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <footer class="page-footer light-green lighten-1" style="background-image:url(https://images.clipartuse.com/44e37483d02ea0cfe67a9a5f035c485c_grass-clipart-transparent-grass-clipart-free-clip-art-imagespng-_3788-974.png)">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">FaceBark</h5>
                        <p class="grey-text text-lighten-4">"Every snack you make, every meal you bake, every bite you take, i'll be watching you!" ~ Every dog
                            ever
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li>
                                <a class="grey-text text-lighten-3" href="http://www.cutestpaw.com/tag/dogs/">Dog Pictures</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="http://www.animalplanet.com/pets/dog-facts/?fact_id=113376">Dog Facts</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="http://www.discussdogs.com/forum/">Dog Forum</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="https://www.rover.com/">Dog Walking</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2018 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="http://www.theuselessweb.com/">More Links</a>
                </div>
            </div>
        </footer>



</body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<!-- <script src="./starter-template/js/init.js"></script> -->
<script src="./js/materialize.min.js"></script>

<!-- <script src="./starter-template/js/materialize.js"></script> -->
<script src="./js/faceBark.js"></script>

</html>