<h3>All Dogs</h3>

<!-- Pass in data from server.js -->
<ul>
    {{#each dogs}}
    <div class="row" data-target="modal1" href="#modal1">
        <ul class="collection" id="parkRow">
            <div class="row">
                <li class="collection-item">
                    <a href={{{this.id}}}>
                        <h4 id="dogName" class="col s4">{{this.name}}</h4>
                    </a>
                    <h5 class="col s2 center-align" id="parkAddress">Breed:</span> {{this.breed}}</h5>

                </li>
            </div>
        </ul>
    </div>
    {{/each}}
</ul>