<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FaceBark</title>
    <link rel="shortcut icon" href="http://res.freestockphotos.biz/pictures/15/15168-illustration-of-a-cartoon-dog-pv.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- //header -->
    <nav class="light-green lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">FaceBark</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="modal-trigger" href="#modal1">Add a Dog</a>
                </li>
                <li>
                    <a href="findPark.html">Find a Park</a>
                </li>
                <li>
                    <a href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <h3>My Dogs</h3>

    <ul>
        {{#each mydogs}}
        <div class="row" data-target="modal1" href="#modal1">
            <ul class="collection" id="parkRow">
                <div class="row">
                    <li class="collection-item">
                        <h4 id="dogName" class="col s4">{{this.name}}</h4>

                        <h5 class="col s2 center-align" id="parkAddress">Breed:</span> {{this.breed}}</h5>

                    </li>
                </div>
            </ul>
        </div>
        {{/each}}
    </ul>




</body>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<!-- <script src="./starter-template/js/init.js"></script> -->
<script src="./js/materialize.min.js"></script>

<!-- <script src="./starter-template/js/materialize.js"></script> -->
<script src="./js/faceBark.js"></script>

</html>