#parkPic {
  height: 200px;
  width: 250px;
  padding-bottom: 15px;
}

#parkButton {
  position: relative;
  top: 30px;
}

#goParkBtn {
  position: relative;
  top: 60px;
  left: 98px;
}

#parkList {
  position: relative;
  top: 20px;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
