#or {
  position: relative;
  top: 250px;
  left: 50px;


}


#buttonDiv {
  text-align: right;
}

#results {
  font-size: 20px;
}

#nameDiv {
  text-align: center;
}
#map {
  height: 500px;
  width: 500px;
}

#parkSearch {
  top: 30px;
}

#spacer {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid grey;
}

#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
